---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & {
  label: string
  isUnderline?: boolean
}

const { label, isUnderline, ...props } = Astro.props
---

<a
  href={props.href}
  class:list={{
    ['cursor-pointer text-[#FF5000] hover:text-[#FF387D] active:text-[#8855FF]']: true,
    [' underline decoration-dashed underline-offset-8']: isUnderline
  }}
  {...props}
  rel='noreferrer'
  target='_blank'
>
  {label}
  <span class='sr-only'>{label} link</span>
</a>
