---
const year = new Date().getFullYear()

import AstroLink from './AstroLink.astro'
---

<footer class='mx-auto my-8 max-w-[872px] px-4 text-stone-300 md:px-0'>
  <p>
    &copy; {year}
    <a
      class='text-jefferson-light hover:text-jefferson-light'
      href='https://github.com/jeffersonrj14'>RJ Jefferson</a
    >
  </p>
  <nav role='navigation'>
    <ul role='list' class='flex flex-row justify-center gap-2'>
      <li>
        Built with <AstroLink href='https://astro.build/' label='Astro' />
      </li>
    </ul>
  </nav>
</footer>
