---
import removeTrailingSlash from '../../utils/removeTrailingSlash'

const pathname = removeTrailingSlash(Astro.url.pathname)
---

<header
  class='z-40 mx-auto my-8 flex max-w-[872px] flex-col gap-2 px-4 text-jefferson-light md:flex-row md:justify-between'
>
  <a href='/'>
    <span class='hover:text-jefferson-main'>Jefferson</span>
    <span>・</span>
    <span class='text-jefferson-main hover:text-jefferson-light'>RJJ</span>
  </a>
  <nav role='navigation'>
    <ul role='list' class='flex flex-row gap-2'>
      <li>
        <a
          href='/'
          class:list={{
            ['hover:text-jefferson-main']: true,
            ['text-jefferson-light']: pathname === '/'
          }}>Home</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href='/posts'
          target='_self'
          class:list={{
            ['hover:text-jefferson-main']: true,
            ['text-jefferson-light']: pathname === '/posts'
          }}>Posts</a
        >
      </li>
    </ul>
  </nav>
</header>
